    body{
    background:  #ffffff;
    padding: -8px 0px 30px 0px;
    background-image: url(../img/img1.png);

}
    nav{
      opacity: 0.7;
    }
/*
 #btn{
      position: relative;
      top: 400px;
      left: 175px;
      width: 264px;
      height: 72px;
      color:white;
      background: linear-gradient(180deg, rgba(247, 152, 255, 0.95) 0.83%, #FF29DD 100%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
  
  }


  #doc{
    position: relative;
    top: 90%;
    left: 30%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 789px;
    border-radius: 10px;
    opacity: 0.8;

}

#doc{
    position: relative;
    top: 90%;
    left: 30%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 789px;
    border-radius: 10px;
    opacity: 0.8;

}
*/
   


.footer-basic {
  padding:40px 0;
  background-color:#bde0fe;
  color:#d07bdf;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
.btn{
  color:white;
  background: linear-gradient(360deg, rgba(205, 180, 219, 0.95) 4.2%, rgba(162, 210, 255, 0.54) 50.82%, rgba(255, 200, 221, 0.58) 82.21%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

p,li{
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}




h1,h2{
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
}
h3,h4{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

.about{
  text-align: center ;
}
.justify {
  text-align: justify;
}
#instagram{
width:20%;
height: 30%;

}
.wireframe{
  width: 30%;
  height: 30%;
}

#statistiche{
  width: 20%;

}