body{
    background-color: #eabaf6;
    padding: -8px 0px 30px 0px;
    animation-name: animato;
    animation-duration: 15s;
    animation-iteration-count: infinite;    
    animation-play-state: running;
}
/*FUNZIONE PER AVERE UN BACKGROUND ANIMATO*/
@keyframes animato {
    50.0%  {
        background-color:#e574bc;
    }
    50.0%  {
        background-color:#ea84c9;
    }
    50.0%  {
        background-color:#ef94db;
    }
    50.0%  {
        background-color:#f9b4ed;
    }
    50.0%  {
        background-color:#eabaf6;
    }
    50.0%  {
        background-color:#dabfff;
    }
    50.0%  {
        background-color:#c4c7ff;
    }
    50.0%  {
        background-color:#adcfff;
    }
    50.0%  {
        background-color:#96d7ff;
    }
    50.0%  {
        background-color:#7fd3ff;
    }
    
}
nav{
  
    opacity: 0.7; 
 }



/* SE VUOI COLORARE LE CERD IN VIOLA 
 .card{
    background-color: rgba(237, 165, 242, 0.747);
    top:100px;
    border-radius: 20px;
}
*/


.btn{
  
  color:rgb(196, 106, 83);
  background: linear-gradient(360deg, rgba(205, 180, 219, 0.95) 4.2%, rgba(162, 210, 255, 0.54) 50.82%, rgba(255, 200, 221, 0.58) 82.21%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}





.footer-basic {
    padding:40px 0;
    padding:40px 0;
  background-color:#bde0fe;
  color:#d07bdf;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
p{
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}
h1,h2{
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
}
#img{

  height: fit-content;
  border-radius: 30px;
}

.card{
  background-color: #ffdeea; 
  border-radius: 30px;
}

